
a {
	color: #04756F;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #D90000;
}

body {
	margin: 0px;
	background-color: #2E0927;
	height: 100%;
	width: 100%;
	font-size: 1em;
}

h1 {
	margin-top: 0px;
}

h2 {
	color: #D90000;
	font-family: 'Patua One', cursive;
	font-size: 2.2em;
	margin-top: 10px;
}

h3 {
	color: #D90000;
	font-family: 'Patua One', cursive;
	font-size: 1.7em;
	margin-top: 40px;
}

header .navbar-inverse {
	background-color: #2E0927;
	border: 0px;
	font-family: 'Patua One', cursive;
	/*padding: 8px 20px 0px 20px;*/
	top: 0;
	width: 100%;
	z-index: 1;
	display: block;
	text-transform: uppercase;
}

nav {
	padding-left: 20px;
	padding-right: 20px;
}
.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

.container-fluid > .navbar-header {
	margin: 0px;
}
.navbar-brand {
	padding-top: 10px;
}

/* Styling for hamburger button */
.navbar-toggle {
	border: 0px;
}

.navbar-collapse {
	border: 0px;
	box-shadow: none;
	-webkit-box-shadow: none;

}
/** Formatting for Peter Mooney logo**/
#logo {
	color: #FF2D00 ;
	display: inline;
	font-family: 'Patua One', cursive;
}

/** Formatting for navbar links **/
.navbar-inverse .navbar-nav > li > a {
	color: #D90000;
	font-family: 'Patua One', cursive;
}

li {
	font-family: 'Roboto', sans-serif;
	color: white;
	text-decoration: none;
	list-style: none;
}

p {
	font-family: 'Roboto', sans-serif;
	color: white;
}

#about {
	font-size: 2.6vh;
	text-align: center;
	height: 100vh;
	background-color: #FF8C00;
}

#aboutColRight {
	text-align: left;
}

/*Formatting for Ken picture*/
#about #ken {
	width: 40%;
	height: 40%;
}

/*Formatting for pictures in the left column EXCEPT ken*/
#aboutColLeft img:not(#ken) {
	border: 5px solid black;
	width: 40%;
	height: 40%;
}

#contact {
	font-size: 2em;
	text-align: center;
}

#contact a {
	font-size: 2em;
	text-align: center;
}

#contact h2 {
	font-size: 4em;
	margin-bottom: 0px;
}

#contact img {
	height: 12%;
	width: 12%;
}

#contact li {
	text-align: justify;
}

#contact .contactMethods {
	display: table;
	margin: 0 auto;
}

#myPic {
	position: relative;
	max-width: 100vh;
	height: 100vh;
	display: block;
	margin: auto;
	margin-top: 10%;
}

#myPic img {
	width: 100%;
	position: absolute;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

#projects {
	font-size: 2.6vmin;
	height: 100vh;
	background-color: #D90000;
	text-align: justify;
}

/* Logos of code that built Amayalock */
#projectsColRight img:not(#amayalockLogo) {
	max-width: 12%;
	max-height: 12%;
	padding-right: 40px;
	vertical-align: middle;
}

/* Logos of items that built Sobrio*/
#projectsColLeft img:not(#sobrioLogo) {
	max-width: 12%;
	max-height: 12%;
	padding-right: 40px;
	vertical-align: middle;
}

#projects h2 {
	color: white;
}

#amayalockLogo {
	height: 20vw;
}

#sobrioLogo {
	height: 20vw;
}

#social {
	height: 100vh;
	background-color: #FF8C00;
	font-size: 2.6vmin;
	padding-left: 2%;
	padding-top: 5%;
}

#social .socialMedia {
	vertical-align: middle;
	margin: auto;
	position: relative;
	top: 50%;
	transform: translateY(-80%);
}

#social #socialMedia img {
	padding-left: 40px;
	padding-right: 40px;
	vertical-align: middle;
	width: 27%;
}

.vertical-center {
	min-height: 100%;
	min-height: 100vh;

	display: flex;
	align-items: center;
}

@media (max-width: 480px) {
	h1 {
		font-size: 1.4em;
		margin-left: -20px;

	}
}

@media (min-width: 481px) and (max-width: 768px) {
	h1 {
		font-size: 1.7em;
		margin-left: -20px;
	}
}

@media (min-width: 769px) {
	h1 {
		font-size: 5vw;
	}

	.navbar-inverse .navbar-nav > li > a {
		font-size: 2vw;
	}
}